[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/yaniv-aknin/syntastic.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-jst"]
	path = bundle/vim-jst
	url = https://github.com/jeyb/vim-jst.git
[submodule "bundle/vim-scmdiff"]
	path = bundle/vim-scmdiff
	url = https://github.com/tomasv/vim-scmdiff.git
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
